* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 999px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 4px;
}

html:root {
  --poppins: "Poppins", Arial, sans-serif;
  --roboto: "Roboto", Arial, sans-serif;
  --sobretom: #332200;
  --gradiente: linear-gradient(#ffbf00, #f2a50c);
  --gradientehover: linear-gradient(#ffb60d, #e59316);
  --paragrafo: #b2b2b2;
  --cor-principal: #ffbb00;
  --white: #fff;
  --black: #000;
}
