.main-bg {
  background-color: var(--black);
  color: white;
  box-shadow: inset 0 -120px white;
}

.intro {
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-texto {
  display: grid;
  gap: 10px;
  align-self: end;
  padding-bottom: 200px;
}

.main-titulo {
  max-width: 500px;
}

.main-paragrafo {
  color: var(--paragrafo);
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  max-width: 500px;
}

.detalhe {
  color: var(--cor-principal);
}

.main-img {
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .main-titulo {
    font-size: 3rem;
    max-width: 450px;
  }

  .main-paragrafo {
    font-size: 18px;
    max-width: 450px;
  }
}
@media (max-width: 950px) {
  .main-texto {
    gap: 20px;
    padding-bottom: 40px;
  }

  .intro {
    padding-top: 40px;
    grid-template-columns: 1fr;
  }
  .main-titulo {
    max-width: initial;
  }
  .main-paragrafo {
    max-width: initial;
    font-size: 24px;
  }
  .main-img {
    height: 300px;
    width: 100%;
  }
  .main-bg {
    box-shadow: inset 0 -60px #fff;
  }
}
