.tecnologia-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 80px white, inset 0 -80px white;
}

.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.text-container {
  align-self: center;
  padding-top: 160px;
  padding-bottom: 160px;
}
.text-container a {
  padding-bottom: 40px;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
}

.tec-titulo {
  padding-bottom: 20px;
}

.tec-paragrafo {
  padding-bottom: 20px;
}

.tec-detalhes {
  display: flex;
  flex: 1;
  gap: 40px;
}
.tec-detalhe h3 {
  width: max-content;
  margin-bottom: 5px;
}
.tec-detalhe .icon {
  width: 24px;
}

.img-tec,
.img-tec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

@media (max-width: 980px) {
  .tecnologia-bg {
    box-shadow: initial;
  }
  .tecnologia {
    grid-template-columns: 1fr;
  }
  .text-container {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  .tec {
    margin-bottom: 10px;
  }

  .img-tec {
    display: none;
  }
}
@media (max-width: 980px) {
  .tec-detalhes {
    flex-direction: column;
  }
}
